language: python

sudo: false

python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install codecov
  - pip install pytest-cov

script: py.test --cov=elizabeth/

after_success:
  codecov
