environment:
  matrix:

    - PYTHON: "C:\\Python33"
    - PYTHON: "C:\\Python33-x64"

    - PYTHON: "C:\\Python34"
    - PYTHON: "C:\\Python34-x64"

    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python35-x64"

    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python36-x64"

install:
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"

build: off

test_script:
  - "%PYTHON%\\python.exe setup.py test"
