include LICENSE
include setup.py
include mimesis/py.typed
recursive-include mimesis *.py
recursive-include mimesis/data *.json

exclude MANIFEST.in
exclude *.rst
exclude *.md
include README.rst
prune docs
prune media
prune tests
prune .github
prune *.pyc

prune mimesis/data/locale_template
exclude *.lock
exclude *.yml
exclude Makefile
exclude Pipfile
exclude .editorconfig
exclude __pycache__
