[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
codecov = "*"
"flake8" = "*"
"flake8-builtins" = "*"
"flake8-commas" = "*"
"flake8-quotes" = "*"
pytest = "*"
pytest-benchmark = "*"
pytest-isort = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
pytest-mock = "*"
requests = "*"
mypy = "*"
colorama = { version="*", os_name="=='nt'"}
"flake8-docstrings" = "*"
pyroma = "*"
pygments = "*"
"flake8-type-annotations" = "*"
pytest-randomly = "*"
check-manifest = "*"
readme-renderer = "*"
pre-commit = "*"
