@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

pre, tt, code {
    font-family: 'Fira Code', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
    font-size: 0.9em;
}

.function, .method, .class, .exception {
    padding-bottom: 15px;
}

a.reference:hover {
    border-bottom: 1px rgb(225, 83, 67);
}

a.headerlink:hover {
    color: #444 !important;
    background: transparent !important;
    text-decoration: none !important;
}

div.body p, div.body dd, div.body li {
    line-height: 1.5;
}

body {
    font-size: 16px;
}

div.note {
    border-radius: 10px;
}

div.warning {
    border-radius: 10px;
}

pre, div[class*="highlight-"] {
    clear: both;
    border-radius: 10px !important;
}

div.highlight pre, table.highlighttable pre {
    margin: 0;
    border-radius: 10px !important;
    padding: 20px !important;
}

.function, .method, .class, .exception {
    padding-bottom: 15px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #21272E;
    }

    div.sphinxsidebar p {
        color: #adbac7;
    }

    div.sphinxsidebar a {
        color: #adbac7;
        border-bottom: none;
    }

    dt:target, .highlight {
        background: #21272E;
    }

    .py, .py-class {
        background: #21272E;
    }

    div.sphinxsidebar h3,
    div.sphinxsidebar h4 {
        color: #adbac7;
    }

    div.sphinxsidebar a:hover {
        border-bottom: none;
        text-decoration: underline;
    }

    div.sphinxsidebar h3 a {
        color: #adbac7;
    }

    div.sphinxsidebar ul {
        color: #adbac7;
    }

    div.body {
        background-color: #21272E;
        color: #adbac7;
    }

    div.note {
        background-color: #2d333b !important;
        border-radius: 10px;
        border: 1px solid hsla(203.9, 85.8%, 52.9%, 0.43);
    }

    pre {
        background-color: #2d333b !important;
        border-radius: 10px;
    }

    tt, code {
        background-color: #2d333b !important;
        color: #adbac7;
    }

    #api-reference .reference span.pre {
        background-color: #21272E;
    !important;
    }

    div.highlight {
        background-color: #2d333b !important;
        border-radius: 15px;
    }

    div.warning {
        background-color: #2d333b !important;
        border-radius: 10px;
        border: 1px solid rgba(255, 170, 0, 0.25)
    }

    table.docutils {
        border: 1px solid #888;
        -moz-box-shadow: 2px 2px 4px #EEE;
        -webkit-box-shadow: 2px 2px 4px #EEE;
        box-shadow: 0 0 0 #EEE;
    }

    tt.xref, code.xref, a tt {
        background-color: #FBFBFB;
        border-bottom: none;
    }

    a {
        color: #539bf5;
        border-bottom: none;
    }

    a:hover {
        color: #539bf5;
        text-decoration: underline;
    }

    a.reference {
        border-bottom: none !important;
    }

    .highlight .go {
        color: #b5b5b5;
    }

    .highlight .nt {
        color: #b392f0;
    }

    .highlight .s1 {
        color: #96d0ff;
    }

    .highlight .s2 {
        color: #96d0ff;
    }

    .highlight .ow {
        color: #6cb6ff;
        font-weight: bold;
    }

    .highlight .o {
        color: #6cb6ff;
    }

    .highlight .nb {
        color: #dcbdfb;
    }

    .highlight .gp {
        color: #6cb6ff;
        font-weight: bold;
    }

    .highlight .kn {
        color: #f47067;
        font-weight: bold;
    }

    .highlight .nn {
        color: #adbac7;
        font-weight: bold;
    }

    .highlight .nt {
        color: #96d0ff;
    }

    .highlight .k {
        color: #f47067;
    }

    .highlight .mi {
        color: #6cb6ff;
    }

    .highlight .c1 {
        color: #768390;
        font-style: normal;
    }

    button.copybtn {
        cursor: pointer;
    }

    .rst-versions .rst-current-version {
        background-color: #21272E !important;
        border: 1px solid #2d333b;
    }

    .highlight .nf {
        color: #dcbdfb;
    }

    .highlight .bp {
        color: #adbac7;
    }

    .highlight .nc {
        color: #f69d50;
        font-weight: bold;
    }

    .highlight .mf {
        color: #6cb6ff;
    }

    .highlight .nd {
        color: #adbac7;
        font-weight: normal;
    }

    div.sphinxsidebarwrapper p.logo {
        margin-bottom: 15px;
    }

    div.sphinxsidebar #searchbox input[type="text"] {
        float: left;
        width: 80%;
        padding: 0.25em;
        box-sizing: border-box;
        background: #21272E;
    }

    div.sphinxsidebar input {
        border: 1px solid #3E4348;
        color: #ADBAC7;
    }

    div.sphinxsidebar #searchbox input[type="submit"] {
        color: #ADBAC7;
        background: #21272E;
    }

    input[value="Go"] {
        background-color: #21272E !important;
    }

    input[value="Go"]:hover {
        background-color: #2c2f36 !important;
    }

    .highlight .kc {
        color: #f47067 !important;
        font-weight: bold;
    }

    a.headerlink:hover {
        color: #adbac7 !important;
        background: transparent !important;
        text-decoration: none !important;
    }
}
